*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4071F4;
}
h1{
    font-size: 18px;
    margin-bottom: 20px;
}
span{
    text-decoration: underline #4071F4 solid ;
}
p{
    font-size: 14px;
}
.pd1{
    margin-bottom: 8px;
}
form{
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
}
.container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    font-size: 16px;
    gap: 1rem;
    font-size: 12px;
    font-weight: bold;
}
input{
    padding: 10px;
    margin-top: 10px;
}
div, .topmagin1{
margin-top: 10px;
}
.pd2{
    margin-top: 20px;
    margin-bottom: 12px;
}
button{
    color: white;
    margin-top: 14px;
    width: 182px;
    background-color:#4071F4;
    justify-content: space-between;
    border-radius: 3px;
    transition: 1.5s;
    padding: 8px;
    border: none;
}
button:hover{
    background-color: #43aeec;
    cursor: pointer;
}
.arrow{
    text-decoration: none;
}